{% extends "todoapp/base.html" %}
{% block content %}

<div class='header'>
    <h1>{{request.user}}のタスク</h1>
</div>

<div class='searchwrapper'>
    <form method='GET'>
        <input type="text" name='search' value='{{search}}' class='searchInput'>
        <input type="submit" value='検索' class='searchButton'>
    </form>
    <a href="{% url 'create-task' %}" class='addButton'>＋</a>
</div>

<div class='taskswrapper'>
    {% for task in tasks%}
    <div class='taskwrapper'>

        {% if task.completed %}
        {% comment %} タスク完了 {% endcomment %}
        <div class='taskTitle'>
            <div class='taskCompletedIcon'>

            </div>
            <s><a href="{% url 'task' task.id %}">{{task}}</a></s>
        </div>
        <div>
            <a href="{% url 'edit-task' task.id %}" class='editButton'>&#x270f;</a>
            <a href="{% url 'delete-task' task.id %}" class='deleteButton'>×</a>
        </div>
        {% else %}
        {% comment %} タスク未完了 {% endcomment %}
        <div class='taskTitle'>
            <div class='taskIncompletedIcon'>
                
            </div>
            <a href="{% url 'task' task.id %}">{{task}}</a>
        </div>
        <div>
            <a href="{% url 'edit-task' task.id %}" class='editButton'>&#x270f;</a>
            <a href="{% url 'delete-task' task.id %}" class='deleteButton'>×</a>
        </div>
        {% endif %}
    </div>
    {% empty %}
    <h3　style='padding-left: 20px'>タスクがありません</h3>

    {% endfor %}
</div>

<div class='loginAndLogout'>
    {% if request.user.is_authenticated %}
    {% comment %} <p>{{request.user}}</p> {% endcomment %}
    <form action="{% url 'logout' %}" method='POST'>
        {% csrf_token %}
        <a href="{% url 'login'%}">ログアウト</a>
    </form>
    {% else %}
    <a href="{% url 'login' %}">ログイン</a>
    {% endif %}
</div>
{% endblock content %}